GtkEntry#search {
    font: Open Sans, sans-serif;
    font-weight: bold;
    border-style: none;
    border-width: 0;
    border-radius: 0;
    border-image: none;
    background-color: #000;
    padding-left: 2em;
}
